<div class="flex flex-col justify-between gap-4 py-4 sm:flex-row sm:items-center">
  <input
    hlmInput
    class="w-full md:w-80"
    placeholder="Filter names..."
    (input)="_filterChanged($event)"
  />

  <button hlmBtn variant="outline" align="end" [hlmDropdownMenuTrigger]="menu">
    Columns
    <ng-icon hlm name="lucideChevronDown" class="ml-2" size="sm" />
  </button>
  <ng-template #menu>
    <hlm-dropdown-menu class="w-32">
      @for (column of _hidableColumns; track column.id) {
        <button
          hlmDropdownMenuCheckbox
          class="capitalize"
          [checked]="column.getIsVisible()"
          (triggered)="column.toggleVisibility()"
        >
          <hlm-dropdown-menu-checkbox-indicator />
          {{ column.columnDef.id }}
        </button>
      }
    </hlm-dropdown-menu>
  </ng-template>
  <ng-template #actionsCell let-cell="cell">
    <div class="flex">
      @if (isClickable()) {
        <button
          hlmBtn
          variant="ghost"
          size="icon"
          [routerLink]="['/user/groups', cell.row.original?.id]"
        >
          <lucide-angular class="text-muted-foreground" [img]="SquareArrowOutUpRight" size="15" />
        </button>
      } @else {
        <button hlmBtn variant="ghost" size="icon" [hlmDropdownMenuTrigger]="actionsMenu">
          <lucide-angular size="15" [img]="Ellipsis" />
        </button>
        <ng-template #actionsMenu>
          <hlm-dropdown-menu>
            @if (!cell.row.original?.userRole && cell.row.original?.privacyLevel === 'PUBLIC') {
              <button hlmDropdownMenuItem (click)="onJoinClick($event, cell.row.original?.id)">
                Join group
              </button>
            }
            @if (!cell.row.original?.userRole && cell.row.original?.privacyLevel === 'PRIVATE') {
              <button
                hlmDropdownMenuItem
                (click)="onRequestJoinClick($event, cell.row.original?.id)"
              >
                Request to join
              </button>
            }
          </hlm-dropdown-menu>
        </ng-template>
      }
    </div>
  </ng-template>
</div>
<div class="overflow-hidden rounded-md border">
  <!-- we defer the loading of the table, because tanstack manipulates the DOM with flexRender which can cause errors during SSR -->
  @defer {
    <div hlmTableContainer>
      <table hlmTable>
        <thead hlmTHead>
          @for (headerGroup of _table.getHeaderGroups(); track headerGroup.id) {
            <tr hlmTr class="border">
              @for (header of headerGroup.headers; track header.id) {
                <th class="text-muted-foreground" hlmTh [attr.colSpan]="header.colSpan">
                  @if (!header.isPlaceholder) {
                    <ng-container
                      *flexRender="
                        header.column.columnDef.header;
                        props: header.getContext();
                        let headerText
                      "
                    >
                      <div [innerHTML]="headerText"></div>
                    </ng-container>
                  }
                </th>
              }
            </tr>
          }
        </thead>
        <tbody hlmTBody>
          @for (row of _table().getRowModel().rows; track row.id) {
            <tr
              hlmTr
              [attr.key]="row.id"
              [attr.data-state]="row.getIsSelected() && 'selected'"
            >
              @for (cell of row.getVisibleCells(); track $index) {
                <td hlmTd>
                  @if (cell.column.id === 'actions') {
                    <ng-container *ngTemplateOutlet="actionsCell; context: { cell: cell }" />
                  } @else if (cell.column.id === 'privacyLevel') {
                    <div
                      hlmBadge
                      [class]="
                        cell.getValue() === 'Public'
                          ? 'bg-black text-green-300 border border-green-300'
                          : 'bg-black text-red-500 border border-red-800'
                      "
                    >
                      {{ cell.getValue() }}
                    </div>
                  } @else if (cell.column.id === 'name') {
                    <div class="text-sm">
                      {{ cell.getValue() }}
                    </div>
                  } @else {
                    <div class="text-sm text-muted-foreground">
                      {{ cell.getValue() }}
                    </div>
                  }
                </td>
              }
            </tr>
          } @empty {
            <tr hlmTr>
              <td hlmTd class="h-24 text-center" [attr.colspan]="_columns().length">No results.</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>

<div class="flex flex-col justify-end py-4 sm:flex-row sm:items-center">
  @if (_table().getRowCount() > 0) {
    <div class="mt-2 flex space-x-2 sm:mt-0">
      <button
        size="sm"
        variant="outline"
        hlmBtn
        [disabled]="!_table.getCanPreviousPage()"
        (click)="_table.previousPage()"
      >
        Previous
      </button>
      <button
        size="sm"
        variant="outline"
        hlmBtn
        [disabled]="!_table.getCanNextPage()"
        (click)="_table.nextPage()"
      >
        Next
      </button>
    </div>
  }
</div>
